<div class="card-body">
    <h5 class="card-title">Nome do restaurante: {{ order.restaurant.name }}</h5>
    <h6>{{ order.itens.length }} items</h6>
    <h6>{{ order.date }}</h6>
    <h6>Status: {{ order.status }}</h6>

    <div class="botao-container">
        <button class="btn-ver" (click)="showOrder(order._id)">Ver Menu</button>
        <div *ngIf="order.status === 'Pendente'">
            <button class="btn-cancelar" (click)="cancelarOrder(order._id)">Cancelar</button>
        </div>
    </div>
</div>
