<form method="POST" (ngSubmit)="onSubmit()" [formGroup]="form" novalidate>
    <div class="mb-3">
        <label for="atualPassword" class="form-label">Password Atual:</label>
        <input type="password" id="atualPassword" class="form-control"
               formControlName="atualPassword"
               placeholder="Introduza a password atual">
        <div *ngIf="form.get('atualPassword')?.invalid && form.get('atualPassword')?.touched"
            class="text-danger">
            Mínimo 8 caracteres.
        </div>
    </div>
    
    <div class="mb-3">
        <label for="newPassword" class="form-label">Nova Password:</label>
        <input type="password" id="newPassword" class="form-control"
                formControlName="newPassword"
                placeholder="Introduza a nova password">
        
        <div *ngIf="form.get('newPassword')?.invalid && form.get('newPassword')?.touched"
            class="text-danger">
            Mínimo 8 caracteres.
        </div>

        <div *ngIf="form.hasError('mismatch') && form.get('newPassword')?.touched"
            class="text-danger">
            As paswords não coincidem.
        </div>
    </div>
    
    <div class="mb-3">
        <label for="confirmNewPassword" class="form-label">Confirmar Nova Password:</label>
        <input type="password" id="confirmNewPassword" class="form-control"
               formControlName="confirmNewPassword"
               placeholder="Confirme a nova password">
        <div *ngIf="form.get('confirmNewPassword')?.invalid && form.get('confirmNewPassword')?.touched"
            class="text-danger">
            Mínimo 8 caracteres.
        </div>

        <div *ngIf="form.hasError('mismatch') && form.get('confirmNewPassword')?.touched"
            class="text-danger">
            As paswords não coincidem.
        </div>
    </div>
    
    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Guardar</button>
        <button type="reset" class="btn btn-secondary">Limpar</button>
        <button type="button"
                class="btn btn-secondary"
                (click)="goBack()">
            Voltar
        </button>
    </div>
</form>
