<div *ngIf="visible" class="toast" [ngClass]="type" [class.fade-out]="!visible">
  <div class="toast-content">
    <span class="toast-icon">
      <ng-container [ngSwitch]="type">
        <span *ngSwitchCase="'success'">✔️</span>
        <span *ngSwitchCase="'error'">❌</span>
        <span *ngSwitchCase="'info'">ℹ️</span>
      </ng-container>
    </span>
    <span class="toast-message">{{ message }}</span>
    <button (click)="close()" class="toast-close" aria-label="Fechar toast">&times;</button>
  </div>
</div>
