<div *ngIf="user?.perfil">
    <div class="content">
        
        <div class="row bg-white p-4 rounded shadow mb-4">

            <div *ngIf="user.perfil.perfilPhoto" class="col-auto pe-4">
                <img 
                    [src]="fullImagePath"
                    alt="Foto de Perfil"
                    class="profile-pic img-thumbnail"
                    width="100" />
            </div>

            <div class="col-12">
                <p><strong>Nome do Utilizador:</strong> {{ user.firstName }}, {{ user.lastName }}</p>
            </div>
            
            <div class="col-md-6">
                <p><strong>Email:</strong> {{ user.perfil.email }} </p>
            </div>
            
            <div class="col-md-6">
                <p><strong>Número Telefónico:</strong> {{ user.perfil.phoneNumber }}</p>
            </div>
        </div>
    </div>
</div>
