<div class="content">
    <h1 class="mb-4">Bem-Vindo xxxxxx</h1>
    
    <div class="row bg-white p-4 rounded shadow mb-4">
        <div class="col-12 mb-3 d-flex align-items-center">
            <button routerLink="/editar-dados" class="custom-btn me-3">
            Editar Dados
            </button>
            <button routerLink="/editar-password" class="custom-btn">
            Editar Password
            </button>
        </div>

        <div class="col-12 text-center">
            <img [src]="" 
                alt="Foto de Perfil" 
                class="profile-pic">
        </div>

        <div class="col-12">
            <p><strong>Nome do Utilizador:</strong> xxxx xxxx</p>
        </div>
        
        <div class="col-md-6">
            <p><strong>Email:</strong> xxxxxxx </p>
        </div>
        
        <div class="col-md-6">
            <p><strong>Número Telefónico:</strong> xxxxxxxx</p>
        </div>

        <div class="col-12 mt-3">
            <h5>Morada</h5>
            <div class="ms-3">
                <p><strong>Rua:</strong> xxxxxxx</p>
                <p><strong>Código Postal:</strong> xxxxxx</p>
                <p><strong>Cidade:</strong>xxxxxxx</p>
            </div>
        </div>
    </div>
</div>