<!-- Depois meter a imagem no comentario-->
<div class="container my-4">
    <div class="col-12 col-md-10 col-lg-8 mx-auto">

        <div *ngIf="historicOrder.length > 0; else noOrders">
            <div class="row g-4 justify-content-center">
                <div *ngFor="let order of historicOrder.slice().reverse()" class="col-12 col-md-6 col-lg-4">
                    <div class="card dish-card h-100 shadow-sm border-primary">
                        <div class="card-body">
                            <h5 class="card-title">Nome do restaurante: {{ order.restaurant.name }}</h5>
                            <h6>{{ order.itens.length }} items</h6>
                            <h6>{{ order.date }}</h6>
                            <h6>{{ order.status }}</h6>

                            <button class="btn btn-outline-primary btn-sm my-2" (click)="showOrder(order._id)">
                                Ver Menu
                            </button>

                            <div *ngIf="order.type === 'pickup'">
                                <ng-container *ngIf="order.comment && order.comment.trim().length > 0; else addCommentTemplate">
                                    <div class="d-flex gap-2 mt-2">
                                        <button class="btn btn-warning btn-sm" (click)="editComment(order)">
                                            Editar Comentário
                                        </button>
                                        <button class="btn btn-danger btn-sm" (click)="deleteComment(order._id)">
                                            Apagar Comentário
                                        </button>
                                    </div>
                                </ng-container>

                                <ng-template #addCommentTemplate>
                                        <button class="btn btn-success btn-sm mt-2" (click)="addComment(order)">
                                            Adicionar Comentário
                                        </button>
                                </ng-template>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <ng-template #noOrders>
            <p class="text-center">Ainda não possui encomendas</p>
        </ng-template>
    </div>
</div>
